<div class="viewport">
  <div class="image image-overlay" style="background-image:url(<%=asset_path('photo1.jpg')%>);"></div>


<div class="container">
        <div class="row justify-content-center align-items-center vh-100">
          <div class="col-md-6 col-lg-5">
            <div class="accordion-group accordion-group-portal" data-accordion-group="">

        
              <!-- LOGIN -->
              <div class="accordion open" data-accordion="">
                <div class="accordion-control" data-control="">
                  <h5>Connexion</h5>
                </div>
                <div class="accordion-content" data-content="" style="transition: max-height 300ms ease 0s; max-height: 0px; overflow: hidden;">
                  <div class="accordion-content-wrapper">
                    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="form-group">
                        <%= f.input :email,
                          label: 'Email',
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email", class: "form-control" } %>

                      <span style="opacity: 1; left: 392px; top: 151.5px; width: 19px; min-width: 19px; height: 13px; position: absolute; background-image: url(""); background-repeat: no-repeat; background-position: 0px 0px; border: none; display: inline; visibility: visible; z-index: auto;"></span>
                    </div>

                      <div class="form-group">
                        <%= f.input :password,
                          label: 'Mot de passe',
                          required: false,
                          input_html: { autocomplete: "current-password", class: "form-control"  } %>
                      <span style="opacity: 1; left: 392px; top: 249.5px; width: 19px; min-width: 19px; height: 13px; position: absolute; background-image: url(""); background-repeat: no-repeat; background-position: 0px 0px; border: none; display: inline; visibility: visible; z-index: auto;"></span></div>


                      <%= f.input :remember_me, label: 'Se rappeler de moi', as: :boolean if devise_mapping.rememberable? %> <br>

                      <%= f.button :submit, "Me connecter", class: "btn btn-primary btn-block" %>
                    <% end %>
                    <br>
                    <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %>
                  </div>
                </div>
              </div>


            <!-- SIGNUP -->
              <div class="accordion" data-accordion="">
                <div class="accordion-control" data-control="">
                  <h5>Créer un compte</h5>
                </div>
                <div class="accordion-content" data-content="" style="max-height: 382px; overflow: hidden; transition: max-height 300ms ease 0s;">
                  <div class="accordion-content-wrapper">
                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.error_notification %>
                     <!-- firstname -->
                      <div class="form-group">
                        <%= f.input :first_name,
                          label: 'Ton prénom',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "first_name",
                          class: "form-control",}%>
                      </div><!-- name -->
                      <div class="form-group">
                        <%= f.input :last_name,
                          label: 'Ton nom',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "last_name",
                          class: "form-control",}%>
                      </div><!-- email -->
                      <div class="form-group">
                        <%= f.input :email,
                          label: 'Ton email',
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email",
                          class: "form-control",}%>
                      </div>
                      <!-- password -->
                      <div class="form-group">
                        <%= f.input :password,
                          label: 'Ton mot de passe',
                          required: true,
                          hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password", class: "form-control" } %>
                      </div>
                      <div class="form-group">
                          <%= f.input :password_confirmation,
                            label: 'Répète le pour en être bien sûr',
                            required: true,
                            input_html: { autocomplete: "new-password", class: "form-control" } %>
                      </div>
                      <%= f.button :submit, "Je crée mon compte", class: "btn btn-primary btn-block" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



</div>


<script>
  setTimeout(
    function() {
      document.getElementById('footer').setAttribute("style", "display:none!important");
    }, 1);
</script>
