<div class="viewport">
	<div class="image image-overlay" style="background-image:url(<%=asset_path('sofa.jpg')%>)"></div>


	<div class="container">
		<div class="row justify-content-center align-items-center vh-100">
			<div class="col-md-6 col-lg-5 white">




				<h3>Tu as oublié ton mot de passe ?</h3>
				<div class="mt-2 mb-2">
					<p>Tu as oublié ton mot de passe ? Pas de panique, renseigne ci-dessous ton email et nous t'enverrons un lien pour remettre à zéro de ton mot de passe.</p> <br>
					<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					<%= f.error_notification %>

					<div class="form-inputs">
						<%= f.input :email,
						label: 'Ton email de connexion',
						required: true,
						autofocus: true,
						input_html: { autocomplete: "email" } %>
					</div>

					<div class="form-actions mt-2 ">
						<%= f.button :submit, "Envoyer le lien", class: 'btn btn-primary' %>
					</div>
					<% end %>
				</div>

				<%= render "tenants/shared/links" %>



			</div>
		</div>
	</div>
</div>
