<%= render 'layouts/navbar' %>

<section class="p-0 bg-light">
  <div class="image image-overlay image-cover" style="background-image:url(../../assets/images/demo/minimal/portfolio-bg-2.jpg)"
  data-top-top="transform: translateY(0px);" 
  data-top-bottom="transform: translateY(-250px);"></div>
  <div class="container">
    <div class="row justify-content-center align-items-end vh-50 mb-5">
      <div class="col col-md-10 col-lg-8">
        <div class="row align-items-center">
          <div class="col-4 col-lg-3">
            <img class="mr-3 avatar avatar-xl rounded" src="<%=asset_path(image_path(main_app.url_for(@tenant.avatar)))%>"" />
          </div>
          <div class="col">
            <div class="row align-items-center">
              <div class="col-md-8">
                <h2 class="mb-0"><b><%= @tenant.first_name %></b> <%= @tenant.last_name %></h2>
                <span class="text-muted"><%= @tenant.email %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-light pt-2">

  <div class="container">
    <div class="tab-content" id="demo-2">

      <!-- tab info -->
      <div class="tab-pane show active" id="demo-2-1" role="tabpanel" aria-labelledby="demo-2-1">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">

            <!-- stats -->
            <div class="row gutter-1 mb-2">

              <div class="col-6 col-md-4 col-lg-3">
               <%= link_to tenant_favorites_path(@tenant.id) do %>
               <div class="equal">
                <div class="boxed">
                  <div class="equal-header">
                    <b class="h2"><%= @tenant.fav_properties.size%> <i class="fas fa-heart text-orange"></i></b>
                  </div>
                  <div class="equal-footer">
                    <span class="text-muted">apparts en favoris</span>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
              <div class="col-6 col-md-4 col-lg-3">
                <%= link_to tenant_properties_path(@tenant.id) do %>
                <div class="equal">
                  <div class="boxed">
                    <div class="equal-header">
                      <b class="h2"><%= @tenant.asked_visits.size %> <i class="fas fa-calendar-check text-primary"></i></b>
                    </div>
                    <div class="equal-footer">
                      <span class="text-muted">demandes de visites</span>
                    </div>
                  </div>
                </div>
                <% end%>
              </div>
            <div class="col-6 col-md-4 col-lg-3">
              <div class="equal">
                <div class="boxed">
                  <div class="equal-header">
                    <b class="h2">0 <i class="fas fa-file-upload text-dark"></i></b>
                  </div>
                  <div class="equal-footer">
                    <span class="text-muted">dossier complété</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
              <div class="equal">
                <div class="boxed">
                  <div class="equal-header">
                    <b class="h2"><%= @tenant.successful_rent.size %> <i class="fas fa-check-circle text-success"></i></b>
                  </div>
                  <div class="equal-footer">
                    <span class="text-muted">bien loué via Din-Dong</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / stats -->

          <!-- EDIT INFOS -->
          <div class="row">
            <div class="col">
              <h3 class="mb-2 font-weight-normal">Mes informations</h3>
              <%= form_for [@tenant], action: :update do |f| %>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="firstName">Prénom</label>
                    <%= f.text_field :first_name, class:'form-control' %>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="secondName">Nom</label>
                    <%= f.text_field :last_name, class:'form-control' %>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="userMail">Email</label>
                    <%= f.email_field :email, class:'form-control' %> 
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="userMail">Mon dossier</label>
                    
                  </div>
                </div>
              </div>
              <div class="form-row mt-1 align-items-center">
                <div class="col-3">
                  <%= submit_tag("Enregistrer", id: "button", class: "btn btn-secondary", name: "submit") %>
                </div>
              </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- / tab -->



  </div>
</div>
</section>


