<h1>AdminCharges#index</h1>
<p>Find me in app/views/admin_charges/index.html.erb</p>


<ul>
<% @tenants.each do |tenant| %>
<li><%= tenant.first_name %><%= tenant.id %></li>
<li><%= form_tag admin_charges_path %>
<%= hidden_field_tag(:stripe_customer_id, tenant.stripe_customer_id) %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>
<%= submit_tag 'Debiter' %> </li>
<% end %>
</ul>
