<%= render 'layouts/navbar_light' %>
<%= render 'properties/banner_property_index_tenant'%>


<div class="container">
  <h3 class="mt-4 mb-3">Favoris</h3>
    <% if @favorites.count == 0 %>

      <%= render 'favorites/no_favorites' %>
      
    <% else %>
      <div class="row mt-2 mb-4">
        <% @favorites.each do |favorite| %>
          <div class="col-xs-12 col-md-6 col-lg-4 p-1">
            <div class="card">
              <%= link_to property_path(favorite.property.id), class: "card-img-container" do %>
              <img class="card-img-top" src="<%=asset_path(image_path(main_app.url_for(favorite.property.images.first)))%>" alt="Property image">
              <div class="card-header  d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-end">
                  <%if !favorite.property.existant_fav(current_tenant).nil? %>
                    <%= form_tag property_favorite_path(favorite.property.id, favorite.property.existant_fav(current_tenant).id), method: 'put', remote: true do%>
                      <%= button_tag(type: "submit", class: "btn-invisible") do %>
                      <span class="circle-fav d-flex justify-content-around align-items-center"><i class="fas fa-heart text-orange" id="fav-<%=favorite.property.id %>"></i></span>
                      <% end %>
                    <% end%>
                  <% else %>
                    <%= form_tag property_favorites_path(favorite.property.id), method: 'create', id: "btn-#{property.id}", remote: true do%>
                      <%= button_tag(type: "submit", class: "btn-invisible") do %>
                      <span class="circle-fav d-flex justify-content-around align-items-center"><i class="fas fa-heart text-light" id="fav-<%=property.id %>"></i></span>
                      <% end %>
                    <% end%>
                  <% end %>
                </div>
                <div><h5 class="card-title"><%= favorite.property.title %></h5></div>
              </div>
              <% end %>
              <div class="card-body">
                <div class="row mb-2 d-flex justify-content-around" >
                  <div class="text-muted" style="font-weight: 500"><i class="text-primary fas fa-coins mr-1"></i><%= favorite.property.total_rent %> € C.C.</div>
                  <div class="text-muted" style="font-weight: 500"><i class="text-primary fas fa-arrows-alt-h mr-1"></i><%= favorite.property.surface %> m&#xB2;</div>
                  <div class="text-muted" style="font-weight: 500"> <i class="text-primary fas fa-map-marker-alt mr-1"></i><%= favorite.property.area.zipcode %></div>
                </div>
                <div class="row d-fex justify-content-around flex-wrap">
                  <div class="row d-fex justify-content-around  flex-wrap mb-2">
                    <div class="item-property p-1 m-1 mb-0 flex-wrap"> <%=favorite.property.floor%> <sup>e</sup> étage</div>
                    <div class="item-property p-1 m-1 mb-0 flex-wrap"> <%=favorite.property.room%> pièces</div>
                  </div>
                  <% if favorite.tenant.payment_status_id == 2 %>
                    <% if favorite.tenant.visits.find_by(property_id: favorite.property.id, tenant_id: favorite.tenant.id).nil? %>
                    <%= render 'favorites/ask_visit', favorite: favorite %>
                    <% else %>
                    <%= render 'favorites/visit_asked', favorite: favorite %>
                    <% end %>
                    <%= render 'favorites/validate_visit_no_stripe', favorite: favorite %>
                  <% else %>
                  <%= render 'favorites/ask_visit_modal_stripe', favorite: favorite %>
                  <%= render 'favorites/validate_visit_with_stripe', favorite: favorite %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="row mb-4 pl-2">
      <%= link_to "Continuer mes recherches", properties_path %>
    </div>
</div>

<%= render 'layouts/footer' %>