<%= render 'layouts/navbar' %>

<div class="tab-content m-3" >
  <div class="container" style="margin-top:150px;">
  	<%rowcount = 0%>
        <h2>Vos favoris</h2>
        <% if @favorites.count == 0 %>
          <p>Oh oh, tu n'as aucune annonce en favoris pour le moment...</p>
            <%= link_to "Continuer mes recherches", properties_path %>
        <% else %>
                <% @favorites.each do |favorite| %>
                  <div class="row mt-1">
                    <div class="col-8">
                      <div class="boxed p-2 bordered scaling">
                        <div class="row align-items-center justify-content-between">
                          <div class="col-10">
                            <%= link_to property_path(favorite.property.id) do %>
                              <div class="media align-items-center">           			           
                                <img src="<%=asset_path(image_path(main_app.url_for(favorite.property.images.first)))%>" alt="Avatar" class="avatar avatar-lg mr-3">
                                  <div class="media-body">
                                    <h5 class="mb-0"><%=favorite.property.title%></h5>
                                      <br>
                                        <container>
                                          <div class="row">
                                            <div class="col-4 text-muted"><i class="fas fa-arrows-alt-h"></i> <%=favorite.property.surface%> m2  </div>
                                            <div class=" col-4 text-muted"><i class="fas fa-coins"></i> <%=favorite.property.price%> €  </div>
                                            <div class="col-4 text-muted"><i class="fas fa-map-marker-alt"></i> <%=favorite.property.area.zipcode%></div>
                                          </div>
                                        </container>
                                  </div>
                                  <div class="ml-5">
                                  <%= form_tag property_favorite_path(favorite.property.id, favorite.id), method: 'put' do %>
                                    <%= hidden_field_tag :property_id, favorite.property.id %>
                                    <%= button_tag(type: "submit", class: "btn btn-ico btn-outline-light text-orange rounded btn-sm icon", remote: true) do %>
                                      <i class="fas fa-heart"></i>
                                    <% end %>
                                  <% end %>
                                  </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% if favorite.tenant.payment_status_id == 2 %>
                      <% if favorite.tenant.visits.find_by(property_id: favorite.property.id, tenant_id: favorite.tenant.id).nil? %>
                        <div class="col-4  pt-2 align-items-center">
                          <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                            <div class="component-example">
                              <div class="container">
                                <div class="row">
                                  <div class="col text-center">
                                    <button type="button" class="btn btn-orange" data-toggle="modal" data-target="#modalVisit-<%=favorite.id%>">
                                      Demander une visite
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="col-4  pt-2 align-items-center">
                          <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                            <div class="component-example">
                              <div class="container">
                                <div class="row">
                                  <div class="col text-center">
                                    <h5>Visite demandée ! <i class="fas fa-check text-orange"></i></h5>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                      <div class="modal fade" id="modalVisit-<%=favorite.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header justify-content-end">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="icon-x"></span>
                              </button>
                            </div>
                            <div class="modal-body text-center">
                              <h3>Valide ta visite</h3>
                              <p>Nous reviendrons vers toi sous 2 jours pour valider ta visite.</p>
                              <p>Bien entendu, nous te facturerons 99€ <span class="text-black">si et seulement si</span> tu obtiens les clés de cet appart'.</p>
                            </div>
                            <div class="modal-footer">
                              <div class="container">
                                  <div class="row">
                                    <div class="col text-center">
                                      <%= link_to 'Valide ta demande', property_visits_path(favorite.property.id), class: 'btn btn-blue', method: 'create' %>
                                    </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% else %>
                        <div class="col-4  pt-2 align-items-center">
                          <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                            <div class="component-example">
                              <div class="container">
                                <div class="row">
                                  <div class="col text-center">
                                    <button type="button" class="btn btn-orange" data-toggle="modal" data-target="#modalStripe-<%=favorite.id%>">
                                      Demander une visite
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
      
                      <div class="modal fade" id="modalStripe-<%=favorite.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header justify-content-end">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="icon-x"></span>
                              </button>
                            </div>
                            <div class="modal-body text-center">
                                        <h3>Juste une empreinte</h3>
                              <p>Afin de pouvoir valider ta demande de visite, nous te demandons juste une empreinte bancaire et ton numéro de téléphone.</p><br/>
                              <p>Bien entendu, nous te facturerons 99€ <span class="text-black">si et seulement si</span> tu obtiens les clés de cet appart'.</p>
                            </div>
                            <div class="modal-footer">
                            <div class="container">
                              <div class="row">
                                <div class="col text-center">
                                <%= form_tag  property_visits_path(favorite.property.id) do %>
                                  <article>
                                    <% if flash[:error].present? %>
                                      <div id="error_explanation">
                                        <p><%= flash[:error] %></p>
                                      </div>
                                    <% end %>
                                  </article>
                                  <div class="modal-body text-center">
                                  <label>Votre numéro</label>
                                  <%= telephone_field :tenant, :last_name, class: 'form-control form-control-lg', placeholder: "06-##-##-##-##", :required => true %>
                                  </div>
                                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                              data-description="Ton Empreinte Bancaire"
                                              data-locale="auto"
                                              data-name="Enregistrer"
                                              data-panel-label="Enregistrer">
                                  </script>
                                  <button type="submit" class="btn btn-orange">Demander une visite</button>

                                  <script>
                                      document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                                  </script>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                  <% end %>
                  </div>
                    <%end%>
                  <%end%>
    </div>
  </div>

  <% if @favorites.count <= 1 %>
  <%= render 'layouts/footer_fixed'%>
  <% else %>
  <%= render 'layouts/footer' %>
  <% end %>