<div class="row mb-4">
<% visits.each do |visit| %>
	<div class="col-xs-12 col-md-6 col-lg-4 p-1">
		<div class="card">
			<%= link_to property_path(visit.property.id), class: "card-img-container" do %>
			<img class="card-img-top" src="<%=asset_path(image_path(main_app.url_for(visit.property.images.first)))%>" alt="Property image">
			<div class="card-header  d-flex flex-column justify-content-between">
				<div class="d-flex justify-content-end">
				</div>
				<div>
					<h5 class="card-title"><%= visit.property.title %></h5>
				</div>
			</div>
			<% end %>
			<div class="card-body">
				<div class="row mb-2 d-flex justify-content-around" >
					<div class="text-muted" style="font-weight: 500"><i class="text-primary fas fa-coins mr-1"></i><%= visit.property.total_rent %> € C.C.</div>
					<div class="text-muted" style="font-weight: 500"><i class="text-primary fas fa-arrows-alt-h mr-1"></i><%= visit.property.surface %> m&#xB2;</div>
					<div class="text-muted" style="font-weight: 500"> <i class="text-primary fas fa-map-marker-alt mr-1"></i><%= visit.property.area.zipcode %></div>
				</div>

				<div class="row d-fex justify-content-around flex-wrap mb-0">
					<div class="row d-fex justify-content-around  flex-wrap mb-0">
						<div class="item-property p-1 m-1 mb-0 flex-wrap"> <%=visit.property.floor%> <sup>e</sup> étage</div>
						<div class="item-property p-1 m-1 mb-0 flex-wrap"> <%=visit.property.room%> pièces</div>
					</div>
					<div class="d-flex justify-content-around flex-wrap">
						<%if visit.visit_status_id == 4 %>
						<p class="text-center">Le gestionnaire du bien va revenir vers vous afin de convenir d'un rendez-vous</p>
							<%= form_tag property_visit_path(visit.property, visit), method: 'delete' do %>
								<%= hidden_field_tag :visit_id, visit.id %>
								<%= submit_tag 'Annuler ma demande', class: 'btn btn-light' %>
							<% end %>
						<%else%>
							<%= link_to 'Visiter', property_visits_path(visit.property.id), class: 'btn btn-blue', method: 'create' %>
							<p><br> Une fois que vous aurez validé votre demande, le gestionnaire du bien reviendra vers vous afin de convenir d'un rendez-vous</p>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>

<%end%>
</div>
