<section class="p-0 bg-light">
  <% first_property = @property.images.first %>
      <div class="image" style="background-image:url(<%=asset_path(image_path(main_app.url_for(first_property)))%>); opacity:1; filter: blur(10px);"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(-200px);"></div>
      <div class="container pl-4 pr-4">
          <div class="row">
            <div class="col-12 p-0">
              <h2 class="mt-10 text-white"><%=property.title%></h2>
            </div>
          </div>




          <div class="row">
            <div class="col-lg-6 col-sm-12 p-0">
                	<h5 class="text-white"><i class="fas fa-coins mr-1 text-primary"></i> <%=property.total_rent%> € CC
                	</h5>
                	<h5 class="text-white"><i class="fas fa-arrows-alt-h mr-1 text-primary"></i> <%=property.surface%> m<sup>2</sup>
                	</h5>
                	<h5 class="text-white"><i class="fas fa-map-marker-alt mr-1 text-primary"></i> <%=property.area.zipcode%>
                	</h5>
            </div>

            <div class="col-lg-6 col-sm-12 p-0">
           				

                  <% if @property.visits.find_by(tenant: current_tenant, property_id: params[:id], visit_status_id: 4) %>
                      <p> Vous avez déjà demandé la visite </p>
                  <% else %>

                    <% if tenant_signed_in? %>
                      <%= render 'layouts/modal_btn', property: @property %>
                      <%= render 'layouts/modal_description' %>
                    <% else %>
                      <div class="container">
                        <div class="row">
                          <div class="col text-center  mb-3">
                            <%= link_to 'Enregistrer',  new_tenant_session_path, class: 'btn btn-outline-white'%>
                            <%= link_to 'Demander une visite',  new_tenant_session_path, class: 'btn btn-outline-white'%>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %> 


                                     

            </div>
          </div>



          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px;" role="document">
              <div class="modal-content">
                <div class="modal-header justify-content-end">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="icon-x"></span>
                  </button>
                </div>
                <div class="modal-body text-center">


                </div>
              </div>
            </div>
          </div>

      </div>
</section>








