<%= render 'layouts/navbar' %>

<div class="tab-content m-3" >
  <div class="container" style="margin-top:150px;">
  	<%rowcount = 0%>

<% if @tenant %>
	<h2>Favoris</h2>
	<% if @fav_visits.size > 0 %>
		<%= render 'properties/index_properties_tenant', visits: @fav_visits %>
	<% else %>
		<p>Oh oh, vous n'avez aucun appartement en favori</p>
	<% end %>

	<h2>Demandes de visites</h2>
	<% if @asked_visits.size > 0 %>
		<%= render 'properties/index_properties_tenant', visits: @asked_visits %>
	<% else %>
		<p>Oh oh, vous n'avez fait aucune demande de visite pour le moment</p>
	<% end %>
	<br><br>
	<%= link_to "Continuer mes recherches", properties_path %>
	
<% else %>


  	<div class="row">
			<% @properties.each do |property| %>
				
				
			<%= render 'layouts/property_index_row', property: property %>
			<% rowcount += 1%>
			<% if rowcount%3 == 0 %> </div> <div class="row"><% end%>

			<% end %> 

		</div>

<%end%>

	</div>
</div>
<%= render 'layouts/footer' %>