 <%if agency_signed_in? %>

<%= render 'layouts/navbar' %>

<%= render 'layouts/property_show_agency_banner', property: @property, areas: @areas %>
<%= render 'layouts/property_show_visitors', property: @property %>
<%= render 'layouts/property_show_description', agency: @agency, property: @property%>
<%= render 'layouts/property_show_carroussel', property: @property %>

<%= render 'layouts/footer' %>

<% else %>

<%= render 'layouts/navbar' %>
<%= render 'layouts/property_show_photo_description' %>
<%= render 'layouts/property_show_carroussel' %>

<% if tenant_signed_in? %>
  <% if @property.visits.find_by(tenant: current_tenant) %>
  
    <% if current_tenant.payment_status_id == 1 %>
       <%= render 'layouts/stripe_print' %>
    <% elsif @property.visits.find_by(tenant: current_tenant, property_id: params[:id], visit_status_id: 4) %>
       <p> Vous avez déjà demandé la visite </p>
    <% else %>
       <%= render 'layouts/ask_visit'%>
    <% end %>

  <% else %>

    <% if current_tenant.payment_status_id == 1 %>
        <%= render 'layouts/stripe_print' %>
    <% else %>
        <%= render 'layouts/ask_visit'%>
    <% end %>

  <% end %>
<% else %>
    <%= link_to 'Demander une visite',  new_tenant_session_path, class: 'btn btn-blue'%>
<% end %>


<%= render 'layouts/footer' %>

<% end %>
