 <%if agency_signed_in? %>

<%= render 'layouts/navbar' %>

<%= render 'layouts/property_show_agency_banner', property: @property, areas: @areas %>
<%= render 'layouts/property_show_visitors', visits: @asked_visits %>
<%= render 'layouts/property_show_description', agency: @agency, property: @property%>
<%= render 'layouts/property_show_carroussel', property: @property %>

<%= render 'layouts/footer' %>

<% else %>

<%= render 'layouts/navbar' %>
<%= render 'layouts/property_show_photo_description' %>
<%= render 'layouts/property_show_carroussel' %>

<% if tenant_signed_in? %>
<%= render 'layouts/modal_btn' %>
<%= render 'layouts/modal_description' %>
<% else %>
<div class="container">
  <div class="row">
    <div class="col text-center  mb-3">
      <%= link_to 'Demander une visite',  new_tenant_session_path, class: 'btn btn-orange'%>
    </div>
  </div>
</div>
<% end %>

<%= render 'layouts/footer' %>

<% end %>
