<div class="tab-pane" id="demo-2-3" role="tabpanel" aria-labelledby="demo-2-3">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">

      <div class="row">
        <div class="col">
          <%= link_to "Modifier les informations de connexion ou supprimer mon compte", edit_agency_registration_path %>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <h5 class="mb-2 fs-20 font-weight-normal">Directeur de l'agence</h5>
          <%= form_for @director do |f| %>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="directorFirstName">Prénom</label>
                   <%= f.text_field :first_name, class: "form-control", placeholder:"Louis", value: @director.first_name %>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="directorSecondName">Nom</label>
                  <%= f.text_field :last_name, class: "form-control", placeholder:"Martin", value: @director.last_name %>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="directorMail">Email</label>
                  <%= f.email_field :email, class: "form-control", placeholder:"directeur@agence.com", value: @director.email %>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="directorPhone">Téléphone</label>
                  <%= f.text_field :cellphone, class: "form-control", placeholder:"06.......", value: @director.cellphone %>
                </div>
              </div>
            </div>
            <div class="form-row mt-1 align-items-center">
              <div class="col-3">
                <button class="btn btn-secondary">Enregistrer</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5 class="mb-2 fs-20 font-weight-normal">Gestionnaire de l'agence</h5>
          <%= form_for @agent do |f| %>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="agentFirstName">Prénom</label>
                   <%= f.text_field :first_name, class: "form-control", placeholder:"Jeanne", value: @agent.first_name %>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="agentSecondName">Nom</label>
                   <%= f.text_field :last_name, class: "form-control", placeholder:"Dubois", value: @agent.last_name %>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="agentMail">Email</label>
                   <%= f.text_field :email, class: "form-control", placeholder:"agent@agence.com", value: @agent.email %>                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="agentPhone">Téléphone</label>
                  <%= f.text_field :cellphone, class: "form-control", placeholder:"06.......", value: @agent.cellphone %>
                </div>
              </div>
            </div>
            <div class="form-row mt-1 align-items-center">
              <div class="col-3">
                <button class="btn btn-secondary">Enregistrer</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>