<%=render 'layouts/navbar'%>
    <section class="p-0 bg-light">
      <div class="image image-overlay image-cover" style="background-image:url(<%=asset_path('sofa.jpg')%>)"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(-100px);"></div>
      <div class="container">
        <div class="row justify-content-center align-items-end vh-40 mb-5">
          <div class="col col-md-10 col-lg-8">
            <div class="row align-items-center">
              <div class="col-4 col-lg-3">
                <img class="mr-3 avatar avatar-xl rounded" src="<%=asset_path('sofa.jpg')%>" alt="Generic placeholder image">
              </div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col-md-8">
                    <h2 class="mb-0"><%= @agency.name %></h2>
                    <span class="text-muted"><%= @agency.email%></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="bg-light p-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-10 col-lg-8">
            <div class="nav nav-tabs mb-1">
              <a class="nav-item nav-link active" data-toggle="tab" href="#demo-2-1">Mes annonces</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-2" id="toggleCreate">Créer une annonce</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-3">Profil de l'Agence</a>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="bg-light pt-2">

      <div class="container">
        <div class="tab-content" id="demo-2">


          <!-- tab connections -->
          <%=render 'show_properties', properties: @properties%>
          <!-- / tab -->
          <%=render 'new_properties', agency: @agency, property: @property%>

          <!-- tab settings -->
          <%=render 'profile'%>
          

          <!-- / tab -->

 <!-- tab settings -->
          


          
        </div>
      </div>
    </section>

<%=render 'layouts/footer'%>
