
<% if false %>
<ul>
<% @tenants.each do |tenant| %>
<li><%= tenant.first_name %> - <%= tenant.id %></li>
<%= form_for charges_path do |f| %>
<%= hidden_field_tag(:stripe_customer_id, tenant.stripe_customer_id) %>
<%= hidden_field_tag(:tenant_id, tenant.id) %>
<%= f.submit "#{tenant.id}" %>  
<% end %>
<% end %>
</ul>
<% end %>

<%= render 'layouts/navbar' %>

<div class="tab-content m-3" >
  <div class="container" style="margin-top:150px;">
  	<%rowcount = 0%>
<%= render 'layouts/index_tenants_charges'%>

</div>
</div>
