<%= render 'layouts/navbar' %>


<div class="tab-content m-3" >
  <div class="container" style="margin-top:150px;">
  	<%rowcount = 0%>
  	<div class="row">
      <% @tenants.each do |tenant| %>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <a href="" class="eyebrow mb-1"><%= tenant.stripe_customer_id %></a>
            <h4 class="card-title mb-0"><a href=""><%= tenant.first_name%> </a></h4>
          </div>
          <div class="card-footer">
            <div class="row align-items-center">
              <div class="col-4">
              <%= render 'layouts/stripe_charge', tenant: tenant%>
              </div>
              <div class="col-8 text-right">
                <ul class="list-inline mb-0">
                <% link_to 'Découvrir', charge_path(@tenant.id), class: 'btn btn-orange' %>
                  <a class="btn btn-orange">Découvrir</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>