
<span>Mettre à jour les informations de la propriété</span>
<div class="tab-pane" id="demo-2-2" role="tabpanel" aria-labelledby="demo-2-2">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="row">
          <div class="col">

            <%= form_for agency_property_path(@agency, @property), method: :PUT, authenticity_token:true do |f| %>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="userMail">Titre</label>
                    <%= f.text_field :title, class: "form-control", id:"userMail", value:@property.title %>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="firstName">Prix</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-coins"></i></span>
                      </div>
                      <%= f.text_field :price, class: "form-control", id:"userTwitter", value:@property.price %>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="firstName">Surface</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-arrows-alt-h"></i></span>
                      </div>
                      <%= f.text_field :surface, class: "form-control", id:"userTwitter", value:@property.surface %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="firstName">Etage</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fas fa-hiking"></i></span>
                        </div>
                       <%= f.number_field :floor, class: "form-control", id:"userTwitter", value:"3 ème" %>
                      </div>
                  </div>
                </div>



                <div class="col">
                  <div class="form-group">
                    <label for="secondName">Nombre de chambres</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fas fa-home"></i></span>
                        </div>
                       <%= f.number_field :room, class: "form-control", id:"userTwitter", value:@property.room %>
                      </div>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="secondName">Date de dispo.</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fas fa-calendar-alt"></i></span>
                        </div>
                       <%= f.date_field :available_date, class: "form-control", id:"userTwitter", value:@property.available_date %>
                      </div>
                  </div>
                </div>
              </div>



              <div class="form-row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="agencyAddress">Address</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                      </div>
                      <%= f.text_field :address, class: "form-control", id:"userTwitter", value:@property.address %>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="agencyAddress">Arrondissement</label>
                    <input type="textarea" class="form-control" id="agencyAddress" aria-describedby="agencyAddress" value="75018">
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="agencyAddress">Ville</label>
                    <input type="textarea" class="form-control" id="agencyAddress" aria-describedby="agencyAddress" value="Paris">
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <%= f.text_field :description, class: "form-control", id:"userTwitter", value:@property.description %>
                  </div>
                </div>
              </div>



            <div class="form-row mt-1 align-items-center">
              <div class="col-8">
                <%= f.file_field :images, multiple: true %>
              </div>
              <div class="col-3">
                <%= submit_tag("Mettre à jour mon bien", id: "button", class: "btn btn-secondary", name: "submit") %>
              </div>
            </div>

            <% end %>


          </div>
        </div>
      </div>
	</div>
</div>
