<footer class="bg-dark text-white">
              <div class="container py-5 pb-10">
                <div class="row justify-content-between align-items-center">
                  <div class="col-md-5 text-center text-md-left">
                    <ul class="nav lavalamp"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 108.297px; height: 37px; transform: translate(0px, -8px);"></div>
                      <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                        <%= mail_to "greg@hellodingding.com", 'Une question?', class: "nav-link", target: '_blank'%>
                      </li>
                      <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                        <%= link_to 'Les annonces', properties_path, class: 'nav-link' %>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-2 text-center">
                    <%= link_to root_path, class: 'navbar-brand', style: 'margin: auto' do %>
            			<span style="font-size: 30px; line-height:30px; color: #fff;">
						  <i class="fas fa-bell"></i>
                    <% end %>
						</span>
          			</a>
                  </div>
                  <div class="col-md-5 text-center text-md-right">
                    <ul class="nav lavalamp"><div class="lavalamp-object ease" style="transition-duration: 0.2s; width: 108.297px; height: 37px; transform: translate(0px, -8px);"></div>
                      <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                      <% if tenant_signed_in? %>
                        <%= link_to 'Je suis un loueur', properties_path, class:'nav-link' %>
                      <% else %>
                        <%= link_to 'Je suis un loueur', new_tenant_session_path, class: 'nav-link'%>
                      <% end %>
                      </li>
                      <li class="nav-item lavalamp-item" style="z-index: 5; position: relative;">
                        <%= link_to 'Je suis une agence', new_agency_session_path, class: 'nav-link'%>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
</footer>