<div class="col-12">
    <div class="boxed p-2">
      <div class="row align-items-center justify-content-between">
        <div class="col-12">
            <div class="media align-items-center">                           
               
              <div class="media-body">
                      <h5 class="card-title text-blue text-center"><%= property.title %></h5>
                <br>
                  <div class="container">
                    <div class="row">
                      <div class="col-4">
                        <div class=""><i class="fas fa-arrows-alt-h mr-1"></i> Surface : 
                        <span class="text-muted"> <%=property.surface%> m2  </span>
                        </div>
                        <br>
                        <div class=""><i class="fas fa-coins mr-1"></i> Loyer / Mois :  
                        <span class="text-muted"> <%=property.price%> €   </span>
                        </div>
                        <br>
                        <div class=""><i class="fas fa-hiking mr-1"></i> Etage : 
                        <span class="text-muted"> <%=property.floor%> ème</span>
                        </div>
                        <br>
                        <div class=""><i class="fas fa-calendar-alt mr-1"></i> Disponible le :
                        <span class="text-muted">  <%=property.available_date.to_date%>  </span>
                        </div>
                        <br>
                        <div class=""><i class="fas fa-map-marker-alt mr-1"></i> Adresse :                   
                        <span class="text-muted"> Adresse, <%=property.area.zipcode%> Ville  </span>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class=""><i class="fas fa-map-marker-alt mr-1"></i> Description 
                        <div class="text-muted"><%=property.description%></div>
                      </div>
                      </div>

                    </div>

                    <div class="row" style="justify-content: flex-end;">
                      <div class="card-meta font-weight-light mr-1">Ajouté le : <%=property.updated_at.to_date%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    
      </div>
    </div>
</div>







