<div class="col-12">
    <div class="boxed p-2">
      <div class="row align-items-center justify-content-between">
        <div class="col-12">
            <div class="media align-items-center">                           
               
              <div class="media-body">
                      <br>
                  <div class="container">
                    <div class="row">
                      <div class="col-4">
                        <div class=""><i class="fas fa-arrows-alt-h mr-1"></i> Surface : 
                        <span class="text-muted"> <%=property.surface%> m2</span>
                        </div>
                        <br>
                        <div class=""><i class="fas fa-coins mr-1"></i> Loyer / Mois :  
                        <span class="text-muted"> <%=property.price%> €   </span>
                        </div>
                        <br>
                        <div class=""><i class="fas fa-hiking mr-1"></i> Etage : 
                        <span class="text-muted"> <%=property.floor%> ème</span>
                        </div>
                        <br>
                        <div class=""><i class="fas fa-calendar-alt mr-1"></i> Disponible le :
                        <span class="text-muted">  <%=property.available_date.to_date%>  </span>
                        </div>
                        <br>
                        <div class=""><i class="fas fa-map-marker-alt mr-1"></i> Adresse :                   
                        <span class="text-muted"> Adresse, <%=property.area.zipcode%> Ville  </span>
                        </div>
                      </div>
                      <div class="col-7">
                        <div class=""><i class="fas fa-map-marker-alt mr-1"></i> Description 
                        <div class="text-muted"><%=property.description%></div>
                      </div>
                      </div>

                      <div class="col-1 text-md-right">
                        <div class="dropdown">
                          <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-more-vertical fs-22"></i>
                          </a>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-3">
                            <a class="dropdown-item btn-blue" data-toggle="modal" data-target="#exampleModal" href="#">Editer</a>
                            <a class="dropdown-item btn-orange" href="#">Supprimer</a>
                          </div>
                        </div>
                      </div>

                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Launch Modal
                      </button>


                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header justify-content-end">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="icon-x"></span>
                              </button>
                            </div>
                            <div class="modal-body text-center">
                              <h3>Modal title</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias alias ipsam minima, dolore! Modi enim porro neque quaerat blanditiis. Ipsa aliquam quam maxime rerum eum accusamus nulla, molestiae soluta repellendus!</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary btn-block">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>

                    <div class="row" style="justify-content: flex-end;">
                      <div class="card-meta font-weight-light mr-1">Ajouté le : <%=property.updated_at.to_date%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    
      </div>
    </div>
</div>