<div class="col-4">
  <div class="card">
    <img class="card-img-top" src="<%= asset_path(image_path(main_app.url_for(property.images.first))) %>" alt="Card image cap">
    <div class="card-body">
      <a href="" class="eyebrow mb-1">Paris 18</a>
      <h4 class="card-title mb-0"><%= link_to property.title, property_path(property.id) %></a></h4>
    </div>
    <div class="card-footer">
      <div class="row align-items-center">
        <div class="col-4">
          <%= link_to property_path(property.id), class: "btn btn-ico btn-rounded btn-outline-primary" do %>
            <i class="fas fa-arrow-right" style="margin-top:1em;"></i>
          <%end%>
        </div>
        
        <% if false %>
        <div class="col-8 text-right">
            <% if property.visits.find_by(tenant: current_tenant) %>
              <% if property.visits.find_by(tenant: current_tenant).visit_status_id == 1 %>

                <%= form_tag visits_update_path, method: 'put' do %>
                  <%= hidden_field_tag :property_id, property.id %>
                  <%= button_tag(type: "submit", class: "btn btn-ico btn-outline-light text-blue rounded btn-sm icon", remote: true) do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>

              <% elsif property.visits.find_by(tenant: current_tenant).visit_status_id == 2 %>

                <%= form_tag visits_update_path, method: 'put' do %>
                  <%= hidden_field_tag :property_id, property.id %>
                  <%= button_tag(type: "submit", class: "btn btn-ico btn-outline-light text-red rounded btn-sm icon", remote: true) do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% end %>

              <% end %>
              <% elsif %>
              
                <%= form_tag visits_update_path, method: 'put' do %>
                  <%= hidden_field_tag :property_id, property.id %>
                  <%= button_tag(type: "submit", class: "btn btn-ico btn-outline-light text-blue rounded btn-sm icon", remote: true) do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>

            <% end %>
        </div>
        <% end %>
        <div class="col-8 text-right">
          <% if tenant_signed_in? %>
            <% if current_tenant.visits.find_by(property_id: property.id) %>
            <p>Visite déjà demandée.</p>
            <% else %>
              <% if property.favorites.find_by(tenant: current_tenant) %>
                <% if property.favorites.find_by(tenant: current_tenant).is_liked == true %>
                <% favorite = @favorites.find_by(property_id: property.id, tenant: current_tenant) %>
                  <%= form_tag property_favorite_path(property.id, favorite.id), method: 'put' do %>
                    <%= hidden_field_tag :property_id, property.id %>
                    <%= button_tag(type: "submit", class: "btn btn-ico btn-outline-light text-danger rounded btn-sm icon", remote: true) do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% end %>
                  <% else %>
                  <% favorite = @favorites.find_by(property_id: property.id, tenant: current_tenant) %>
                   <%= form_tag property_favorite_path(property.id, favorite.id), method: 'put' do %>
                    <%= hidden_field_tag :property_id, property.id %>
                    <%= button_tag(type: "submit", class: "btn btn-ico btn-outline-light text-danger rounded btn-sm icon", remote: true) do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_tag property_favorites_path(property.id), method: 'post' do %>
                  <%= hidden_field_tag :property_id, property.id %>
                  <%= button_tag(type: "submit", class: "btn btn-ico btn-outline-light text-danger rounded btn-sm icon", remote: true) do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
