<div class="container">

  <h5 class="card-title text-blue text-center mt-8 mb-5">LOCATAIRES INTÉRESSÉS</h5>

<% if visits.empty? %>
<p>Il n'y a encore aucune demande de visite pour ce bien</p>
<%else%>
<div id="accordion">

  <%visits.each do |visit|%>

    <div class="card">
      <div class="card-header" id="headingOne">
          <div class="media align-items-center">  
  	        <button class="btn" data-toggle="collapse" data-target="#visit<%=visit.id%>" aria-expanded="true" aria-controls="collapseOne" style="background: none">         			           
  			   <img src="<%=asset_path(image_path(main_app.url_for(visit.property.images.first)))%>" alt="Avatar" class="avatar mr-3 user-rounded">
  			</button>
  		             
  	            <div class="media-body pr-3">
                  <div class="row mb-2 justify-content-between">
    	              <h5 class="mb-0"><%=visit.tenant.first_name%> <%=visit.tenant.last_name%></h5>
                    <span class="btn btn-blue text-white"> <%=link_to 'Accéder à son Dossier'%> </span>
                  </div>

  	              	<div class="row">
                      <% if visit.tenant.phone_number %>
                        <div class="col-4 text-muted"><i class="fas fa-phone  mr-1"></i><%=visit.tenant.phone_number%>  </div>
                      <% else %>
                        <div class="col-4 text-muted"><i class="fas fa-phone  mr-1"></i>06.##.##.##.##  </div>
                      <% end %>
                        <div class=" col-4 text-muted"><i class="fas fa-envelope  mr-1"></i><%=visit.tenant.email%> </div>
                  
  	              	</div>

  	            </div>
  		    </div>
      </div>

      <div id="visit<%=visit.id%>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="row gutter-3">
            <div class="col-12">
              <div class="mb-1">
              <i class="fas fa-user mr-1"></i> Description
              </div>
                <div class="text-muted">Nico est un locataire avec un énorme background de batard Nico est un locataire avec un énorme background de batard Nico est un locataire avec un énorme background de batard Nico est un locataire avec un énorme background de batard Nico est un locataire avec un énorme background de batard
                </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div> 
<%end%>