<!DOCTYPE html>
<html>
<head>
  <title>DingDong</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
</head>

<body>

 <% flash.each do |key, value| %>
 <div class="alert alert-<%= key %> custo-alert" role="alert m-0" ><%= value %></div>
 <% end %>

 <%= yield %>

 <script>
  $('.alert').delay(2000).fadeOut();
</script>

</body>
</html>
