<!DOCTYPE html>
<html>
  <head>
    <title>DingDong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
  </head>

  <body>



  <% if agency_signed_in? %>
   
    <%= link_to('Logout', destroy_agency_session_path, :method => :delete) %>        
   
  <% else %>
   
    <%= link_to('Register', new_agency_registration_path)  %>
    <%= link_to('Login', new_agency_session_path)  %>  
   
  <% end %>

    <%= yield %>
  </body>
</html>
